[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {version = "*", extras = ["standard"]}
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
ujson = "*"
pydantic = {version = "*", extras = ["email"]}
pydantic-extra-types = "*"
phonenumbers = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.11"
