[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"
ujson = "*"
pydantic-extra-types = "*"
phonenumbers = "*"
firebase-admin = "*"
google-cloud-firestore = "*"
tortoise-orm = "*"
pyrebase4 = "*"
uvicorn = {version = "*", extras = ["standard"]}
pydantic = {version = "*", extras = ["email"]}

[dev-packages]

[requires]
python_version = "3.11"
